<h2>Live Demo</h2>
<p>To use this demo, you need to have properly configured raspberry pi connected to your local network.</p>
<p>Note: this demo is a concept only - it is neither approved nor intended to be used in a medical setting.</p>

<hr>
<br>
<div id="demo-container">
	<h4 style="color: DarkBlue">Demo Ventilator Cluster</h4>
	<table class="table demo-ventilator-table">
		<tr class="tr-heading">
			<th></th>
			<th>Unit</th>
			<th>Tidal Volume </th>
			<th>Respiratory Rate</th>
			<th>Peak Inspiratory Press.</th>
			<th>I/E Ratio</th>
			<th>PEEP</th>
		</tr>
		<tr class="tr-subheading">
			<td></td>
			<td></td>
			<td>mL/Breath</td>
			<td>breaths/min</td>
			<td>cm H2O</td>
			<td></td>
			<td>cm H2O</td>
		</tr>
		<tr id="ventilator-row-1">
			<td id="ventilator-1-status" class="status-col"><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></i></td>
			<td>Ventilator #1</td>
			<td id="ventilator-1-tidal-volume"></td>
			<td id="ventilator-1-resp-rate"></td>
			<td id="ventilator-1-peak-insp-press"></td>
			<td id="ventilator-1-ie-ratio"></td>
			<td id="ventilator-1-peep"></td>
		</tr>
	</table>
</div>
