<br>
<h3>Welcome to the Open Source Remote Ventilator Monitoring Project</h3>
<br>
<h5 style="font-weight: normal;">Our goal is to quickly develop a remote monitoring interface for low-cost rapidly-manufactured ventilators currently being developed to provide emergency relief in the Covid-19 Pandemic.</h5>
<br>
<hr>
<h3>Demo</h3>
<br>
<div id="demo-container">
	<h4 style="color: DarkBlue">East Wing Ventilator Cluster</h4>
	<table class="table demo-ventilator-table">
		<tr class="tr-heading">
			<th></th>
			<th>Unit</th>
			<th>Tidal Volume </th>
			<th>Respiratory Rate</th>
			<th>Peak Inspiratory Press.</th>
			<th>I/E Ratio</th>
			<th>PEEP</th>
		</tr>
		<tr class="tr-subheading">
			<td></td>
			<td></td>
			<td>mL/Breath</td>
			<td>breaths/min</td>
			<td>cm H2O</td>
			<td></td>
			<td>cm H2O</td>
		</tr>
		<tr id="ventilator-row-1">
			<td id="ventilator-1-status" class="status-col"><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></i></td>
			<td>Ventilator #1</td>
			<td id="ventilator-1-tidal-volume">1</td>
			<td id="ventilator-1-resp-rate"></td>
			<td id="ventilator-1-peak-insp-press"></td>
			<td id="ventilator-1-ie-ratio"></td>
			<td id="ventilator-1-peep"></td>
		</tr>
		<tr>
			<td id="ventilator-2-status" class="status-col"><i class="fas fa-lg fa-exclamation-triangle" style="color: red;"></td>
			<td>Ventilator #2</td>
			<td id="ventilator-2-tidal-volume"></td>
			<td id="ventilator-2-resp-rate"></td>
			<td id="ventilator-2-peak-insp-press"></td>
			<td id="ventilator-2-ie-ratio"></td>
			<td id="ventilator-2-peep"></td>
		</tr>
		<tr>
			<td id="ventilator-3-status" class="status-col"><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></td>
			<td>Ventilator #3</td>
			<td id="ventilator-3-tidal-volume"></td>
			<td id="ventilator-3-resp-rate"></td>
			<td id="ventilator-3-peak-insp-press"></td>
			<td id="ventilator-3-ie-ratio"></td>
			<td id="ventilator-3-peep"></td>
		</tr>
		<tr>
			<td id="ventilator-4-status" class="status-col"><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></td>
			<td>Ventilator #4</td>
			<td id="ventilator-4-tidal-volume"></td>
			<td id="ventilator-4-resp-rate"></td>
			<td id="ventilator-4-peak-insp-press"></td>
			<td id="ventilator-4-ie-ratio"></td>
			<td id="ventilator-4-peep"></td>
		</tr>
		<tr>
			<td id="ventilator-5-status" class="status-col"><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></td>
			<td>Ventilator #5</td>
			<td id="ventilator-5-tidal-volume"></td>
			<td id="ventilator-5-resp-rate"></td>
			<td id="ventilator-5-peak-insp-press"></td>
			<td id="ventilator-5-ie-ratio"></td>
			<td id="ventilator-5-peep"></td>
		</tr>
		<tr>
			<td id="ventilator-6-status" class="status-col"><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></td>
			<td>Ventilator #6</td>
			<td id="ventilator-6-tidal-volume"></td>
			<td id="ventilator-6-resp-rate"></td>
			<td id="ventilator-6-peak-insp-press"></td>
			<td id="ventilator-6-ie-ratio"></td>
			<td id="ventilator-6-peep"></td>
		</tr>
	</table>
</div>
