<h2>
	Welcome to the Open Source Remote Ventilator Monitoring Project
</h2>

<section>
	<h5>
		Our goal is to quickly develop a remote monitoring interface for
		low-cost rapidly-manufactured ventilators currently being developed
		to provide emergency relief in the Covid-19 Pandemic. We strive for
		a lightweight, interoperable, and reliable interface.
	</h5>
</section>

<hr />

<section>
	<h2>Demo</h2>

	<div class="warning">
		<div>
			This software is not approved to be used in a medical setting.
		</div>
	</div>

	<div id="index-demo-container" data-demo="true">

	</div>
</section>


