<div>
  <div class="warning">
    <div>
      This software is currently only a concept - it is neither approved
      nor intended to be used in any medical setting.
    </div>
  </div>

  <div id="index-demo-container" data-demo="false"></div>
</div>
