<br>
<h3>Welcome to the Open Source Remote Ventilator Monitoring Project</h3>
<br>
<h5 style="font-weight: normal;">Our goal is to quickly develop a remote monitoring interface for low-cost rapidly-manufactured ventilators currently being developed to provide emergency relief in the Covid-19 Pandemic.</h5>
<br>
<hr>
<h3>Demo</h3>
<br>
<div id="demo-container">
	<h4 style="color: Blue">East Wing Ventilator Cluster</h4>
	<table class="table">
		<tr>
			<th>Status</th>
			<th>Unit</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td><i class="fas fa-lg fa-circle" style="color: LimeGreen;"></i></td>
			<td>Ventilator #1</td>
		</tr>
		<tr>
			<td><i class="fas fa-lg fa-exclamation-triangle" style="color: red;"></td>
			<td>Ventilator #1</td>
		</tr>
	</table>
</div>
