<div>
  <div class="warning">
    <div>
      This software is not approved to be used in a medical setting.
    </div>
  </div>

  	<%= react_component("components/ventilatorTree", { demo: false }) %>
</div>
