<h1>Editing Cluster</h1>

<section>
  <%= render 'form', cluster: @cluster %>
</section>


<%= button_to "Delete This Cluster",
  {
    controller: :clusters,
    action: 'destroy',
    id: @cluster.id
  },
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this cluster? This action cannot be undone.' },
  class: "btn btn-danger"
%>
