<h1>Editing <%= @cluster.organization.cluster_term_singular %></h1>

<section>
  <%= render 'form', cluster: @cluster %>
</section>


<%= button_to "Delete #{@cluster.organization.cluster_term_singular}",
  {
    controller: :clusters,
    action: 'destroy',
    id: @cluster.id
  },
  method: :delete,
  data: { confirm: "Are you sure you want to delete #{@cluster.name}? This action cannot be undone." },
  class: "btn btn-danger"
%>
