.demo-ventilator-table {
  // used to flash the red triangle
  @keyframes flash {
    0% { opacity: 1; }
    70% { opacity: 1; }
    71% { opacity: 0; }
    100% { opacity: 0; }
  }

  .flash {
    -webkit-animation: flash linear 2s infinite;
	  animation: flash linear 2s infinite;
  }

  // Used to flash a field when the value changes
  .flashing {
    background-color: transparent;
    transition: background-color 500ms;
  }

  .active {
    background-color:yellow;
  }

  .tr-subheading th {
    font-weight: 300;
  }

  thead {
    background-color: rgb(203, 232, 241);
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  td {
    text-align: center;
    border-right: 1px solid #ddd;
  }

  td:first-child {
    border-left: 1px solid #ddd;
  }

  th {
    text-align: center;
  }
}