<h1>Editing Ventilator</h1>

<section>
  <%= render 'form', ventilator: @ventilator %>
</section>

<%= button_to "Delete This Ventilator",
  {
    controller: :ventilators,
    action: 'destroy',
    id: @ventilator.id
  },
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this ventilator? This action cannot be undone.' },
  class: "btn btn-danger"
%>

