<h4>Editing Ventilator</h4>

<h6>
  <a href="/organizations/<%=@ventilator.cluster.organization.id%>">
    <%= @ventilator.cluster.organization.name %>
  </a>
</h6>

<section>
  <%= render 'form', ventilator: @ventilator %>
</section>

<%= button_to "Delete This Ventilator",
  {
    controller: :ventilators,
    action: 'destroy',
    id: @ventilator.id
  },
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this ventilator? This action cannot be undone.' },
  class: "btn btn-danger"
%>

