<h4>New Ventilator</h4>

<h6>
  <a href="/organizations/<%=@ventilator.cluster.organization.id%>">
    <%= @ventilator.cluster.organization.name %>
  </a>
</h6>

<%= render 'form', ventilator: @ventilator %>

