<% organization = local_assigns.fetch(:organization) %>

<% if organization.present? %>
  <h6>
    <% if current_user.admin? || current_user.org_admin? %>
      <a href=<%= organization_path organization.id %>>
        <%= organization.name %>
      </a>
    <% else %>
      <%= organization.name %>
    <% end %>
  </h6>
<% end %>