.select-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.select {
  min-width: 300px;
  max-width: 500px;
  margin-left: 30px;
}

.demo-ventilator-table {
  // used to flash the red exclamation triangle
  @keyframes flash {
    0% { opacity: 1; }
    70% { opacity: 1; }
    71% { opacity: 0; }
    100% { opacity: 0; }
  }

  // used to flash the red exclamation triangle
  .flash {
	  animation: flash  2s infinite;
  }

  // used to "pop" individual cell in yellow when they change
  @keyframes pop {
    0% {
      background-color: yellow;
    }
    100% {
      color: default;
    }
  }

  .pop {
    animation: pop 1s;
  }

  thead {
    background-color: rgb(203, 232, 241);
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  th {
    text-align: center;
  }

  .tr-subheading th {
    font-weight: 300;
  }

  td {
    text-align: center;
    border-right: 1px solid #ddd;
  }

  td:first-child {
    border-left: 1px solid #ddd;
  }
}

.narrow {
  width: 50%;
}

.group {
  margin-top: 4em;
}

// used for the spinner while loading
.spin {
  animation: spin 2s infinite linear;
  margin-top: 10vh;
  margin-left: 10vw;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
}