.demo-ventilator-table {
  // used to flash the red triangle
  @keyframes flash {
    0% { opacity: 1; }
    70% { opacity: 1; }
    71% { opacity: 0; }
    100% { opacity: 0; }
  }

  .flash {
	  animation: flash  2s infinite;
  }

  .tr-subheading th {
    font-weight: 300;
  }

  thead {
    background-color: rgb(203, 232, 241);
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  td {
    text-align: center;
    border-right: 1px solid #ddd;
  }

  td:first-child {
    border-left: 1px solid #ddd;
  }

  th {
    text-align: center;
  }
}

.select-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.select {
  min-width: 300px;
  max-width: 500px;
  margin-left: 30px;
}

@keyframes pop {
  0% {
    background-color: yellow;
  }
  100% {
    color: default;
  }
}

.pop {
  animation: pop 1s;
}