<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<%= button_to "Delete This Organization",
  {
    controller: :organizations,
    action: 'destroy',
    id: @organization.id
  },
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this organization? This action cannot be undone.' },
  class: "btn btn-danger"
%>
